<div mat-dialog-title class="flex-container">
  <h1>Ajouter un Utilisateur</h1>
  <button mat-button class="close-icon" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <form action="">
    <label for="nnom">Nom</label>
    <input type="text" id="nnom" name="nnom" placeholder="Votre Nom...">

    <label for="nprenom">Prenom</label>
    <input type="text" id="nprenom" name="nprenom" placeholder="Votre Prenom...">

    <label for="nemail">Email</label>
    <input type="text" id="nemail" name="nemail" placeholder="Votre Mail">

    <label for="npassword">Password</label>
    <input type="text" id="npassword" name="npassword" placeholder="Password">


    <input type="submit" value="Ajouter">
  </form>
</div>

