<div mat-dialog-title class="flex-container">
  <h1>Ajouter une Place Parking</h1>
  <button mat-button class="close-icon" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <form action="">
    <label for="n_place">Numero Place</label>
    <input type="text" id="n_place" name="n_place" placeholder="Numero Place...">

    <label for="etage">Etage</label>
    <input type="text" id="etage" name="etage" placeholder="Numero Etage...">

    <label for="disponibilite">Disponibilite</label>
    <input type="text" id="disponibilite" name="disponibilite" placeholder="Disponibilite...">

    <label for="temp_occupation">Temp d'occupation</label>
    <input type="text" id="temp_occupation" name="temp_occupation" placeholder="Temp d'occupation...">

    <input type="submit" value="Ajouter">
  </form>
</div>

