<div mat-dialog-title class="flex-container">
  <h1>Edit User Profile</h1>
  <button mat-button class="close-icon" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <form action="">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="New email...">
    <input type="submit" value="Update">

    <label for="password">Password</label>
    <input type="text" id="password" name="password" placeholder="New Password...">
    <input type="submit" value="Update">
  </form>
</div>
